@font-face {
    font-family: 'Nexa';
    font-weight: normal;
    font-style: normal;
    src: url("fonts/Nexa-Bold.otf") format("opentype");
}

body{
    margin: 0;
    color:white;
    height: 500vmin;
}

html{
    background-color: #d3d3d3;    
    font-family: 'Poppins', sans-serif;
}

.background{
    background-image: url("content/Mask Group 3.png");
    background-repeat: no-repeat;
    background-size: 100% 28rem;
    margin: auto;
}

.title{
    text-align: center;
    color: #78d2a3;
    font-size: 1000%;
    font-family: 'Nexa', sans-serif;
    padding-top: 5vmin;
    padding-bottom: 10vmin;
}

.innercontent{
    display: flex;
}

#faq-questions{
    position: relative;
    left: 25%;
    width: 80%;
}

#quest-div{
    color:black;
    margin-left: 5vmin;
    width: 60%;
}

#faq-questions h1{
    color:#78d2a3;
    margin-top: -1vmin;
    margin-left: 5vmin;
    width: 80%;
}

#quest-div .question{
    padding: 2vmin;
    background-color: white;
    color:black;
    display: grid;
    width:90%;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 5px;
}

.borderradius{
    border-radius: 5px;
}

#quest-div .plus{
    color: #78d2a3;
    padding: 2vmin;
    float:right;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#quest-div .answer{
    padding: 2vmin;
    background-color: white;
    color:black;
    display: grid;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

/*contact stuff*/

.contactinfo{
    margin-top: 7vmin;
    position: relative;
    right: 78%;
    height: 46vmin;
    background-color: rgb(233, 233, 233);
    margin-left: 5vmin;
    width: 20%;
    border-radius: 5px;
    color:black;
    font-weight: bold;
    box-shadow: 3px 3px 5px 0 #0000004b;
}

.contactinfo h1{
    padding-top: 1vmin;
    font-size: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.247);
}

.contactinfo hr{
    color:red;
}

.contactinfo .contactTime{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1vmin;
    width:80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.contactinfo .contactTime p{
    color: rgba(0, 0, 0, 0.363);
}

.contactinfo .contactTime h3{
    color: #78d2a3;
}

.contactinfo .contactmail{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.contactinfo .icon{
    color:black;
    font-size: 100%;
    padding-right: 5px;
}

@media (max-width:1260px) {

    #quest-div .question {
        font-size: 150%;
    }

    #quest-div{
        margin-left: 0;
    }

    #faq-questions{
        width: 90%;
    }

    #faq-questions h1{
        margin-left: 0;
    }

    .contactinfo{
        font-size: 150%;
        padding-top: 1vmin;
        width: 50%;
        position: relative;
        margin: auto;
        right:0;
        margin-top: 10vmin;
        height: 65vmin;
    }
    .innercontent{
        display: block;
    }

    #quest-div{
        width: 100%;
    }

    #faq-questions {
        position: relative;
        width: 80%;
        margin: auto;
        left:0;
    }
} 



