body{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    color: gray;
}

html{
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding-top: 0;
    padding-left: 0;    
    padding-right: 0;
    scroll-behavior: smooth;

}

ul {
    padding-top: 2em;
    padding-left: 6em;
    margin:auto;
    width: 68%;
    list-style-type: none;
    overflow: hidden;
}
  
li {
    float: left;
    padding-right: 50px;
}
  
li a {
    font-weight: 100;
    display: block;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}
  
li a:hover {
    color: rgb(175, 175, 175);
    transition: 0.3s;
}

/*
Stuff for Header
*/

.header{   
    background-image: linear-gradient(to right, rgba(74, 76, 179, 0.8), rgba(206, 156, 156, 0.8)),url('background_spiegel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.header .profil{
    width:300px;
    height:300px;
}

.headcontent{
    width: 60%;
    margin:auto;
    display: flex;
    color: white;
}

.headcontent img{
    position: relative;
    top: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.281);
}

.headertext{
    font-weight: 100;
    overflow: hidden;
    padding-top: 7em;
    padding-left: 2em;
    position: relative;
    top: 30px;
    display: block;
}

.headertext h1{   
    font-size: 44px;
    font-weight: 900;
}

.headertext p{
    font-size: 16px;
}

.headcontent img{
    filter: grayscale(100%);
}


/*
Stuff for HI
*/

.hi{
    padding-top: 3em;
    width: 60%;
    margin: auto;
    line-height: 1.6;
}

.hi h1{
    font-size: 36px;
    font-weight: 500;
}

.hi p{
    font-size: 18px;
    font-weight: 100;
}

/*
Stuff for CV Button
*/
.cv{
    padding-top: 3em;
    width: 60%;
    margin:auto;
    padding-bottom: 2em;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.cv button{
    cursor: pointer;
    color: white;
    background-color:rgb(110, 112, 194);
    border:none;
    border-radius: 25px;
    height: 50px;
    width: 200px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: 600;
}

.cv button:hover{
    background-color:rgb(88, 89, 153);
}

.cv button img{
    height: 14px;
}

/*
Stuff for Education
*/

.education{
    padding-top: 1em;
    margin:auto;
    width: 60%;
    padding-bottom: 2em;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.education h1{
    font-size: 36px;
    font-weight: 500;
}

.education .school{
    content: "";
    border-left: 2px solid rgb(110, 112, 194);
    padding-left: 20px;
}

.education .school .title{
    color:rgb(110, 112, 194);
    text-transform: uppercase;
}

.education .school .year{
    font-size: 12px;
}

.education .school .program{
    font-size: 15px;
}
/*
Stuff for Skills 
*/
.skills{
    border-bottom: 1px solid rgb(190, 190, 190);
    padding-top: 1em;
    padding-bottom: 4em;
    margin:auto;
    width: 60%;
    font-size: 20px;
    font-weight: 100;
}

.skills h1{
    font-size: 36px;
    font-weight: 500;
}

.skillgroups{
    display: flex;
    font-size: 14px;
}

.skillgroups .skillingleft, .skillgroups .skillingright{
    width: 50%;
}

.skills .skillingright{
    float: right;
    margin-top: 10px;
}

.skills .skillingleft{
    float: left;
    margin-top: 10px;
}

.skills .level{
    width: 80%;
    height: 5px;
    background-color: rgb(209, 209, 209);
}

.skills .level .ranklevel{
    width: 80%;
    height: 5px;
    background-color: rgb(110, 112, 194);
}


.skills .rank p .value{
    width: 27%;
    float: right;
}

/*
Stuff for Projects 
*/
.projects{
    font-size: 20px;
    padding-top: 2em;
    margin:auto;
    width: 60%;
    padding-bottom: 4em;
}

.projects h1{
    font-size: 36px;
    font-weight: 500;
}
.projects p{
    font-size: 18px;
    font-weight: 100;
}


.scroll{
    border: 1px solid rgb(243, 243, 243);
    height: 600px;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
.scroll::-webkit-scrollbar-track {
    background-color: rgb(240, 240, 240);
}
  
  /* Handle */
.scroll::-webkit-scrollbar-thumb {
    background: rgb(110, 112, 194);
}

.scroll .game .role{
    font-size: 12px;
    padding-left: 1.5em;
}

.scroll .game .rolename{
    display: inline;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgb(219, 219, 219);
    box-shadow: 1px 1px 2px 2px rgba(207, 207, 207, 0.281);
    margin-top: -1em;
    font-size: 12px;
    margin-left: 1.5em;
}

.projects img{
    height: 315px;
    width: 315px;
    background-color: rgb(235, 235, 235);
}

.projects .game{
    width: 99%;
    position: relative;
    margin-bottom: 2em;
    display: flex;
    border: 1px solid rgb(219, 219, 219);
    background-color: rgb(252, 252, 252);
}
.projects .game h1{
    padding-left: 1em;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Roboto Mono',monospace;
    text-transform: uppercase;
    font-weight: 100px;
}
.projects .game p{
    width: 90%;
    padding-left: 1em;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.projects .game a{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-right: 1em;
    padding-bottom: 1em;
    color: rgb(110, 112, 194);
    bottom: 0px;
    right: 0px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}


/*
Stuff for Game Projects
*/

/*
Stuff for End
*/

.end{
    position: relative;
    background: linear-gradient(to right, rgba(74, 76, 179, 0.8), rgba(206, 156, 156, 0.8)),url('giphy.gif');
    background-size: cover;
    background-position-y: 60%;
    height: 200px;
}

.end p{
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-right: 1em;
    color: rgba(0, 0, 0, 0.404);
    font-weight: 100;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .projects, .hi , .education, .skills{
        width: 90%;
        margin: auto;
    }
}