@font-face {
    font-family: 'Nexa';
    font-weight: normal;
    font-style: normal;
    src: url("fonts/Nexa-Bold.otf") format("opentype");
}

body{
    margin: 0;
    color:white;
}

html{
    background-color: #d3d3d3;    
    font-family: 'Poppins', sans-serif;
}

.content{
    background-image: url("content/Mask Group 3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
}


.downloadlable{
    width:50%;
    margin:auto;
}

.downloadlable .title{
    text-align: center;
    color: #78d2a3;
    font-size: 1000%;
    font-family: 'Nexa', sans-serif;
    padding-top: 15%;
}

.downloadlable button{
    font-family: 'Poppins', sans-serif;
    width:100%;
    background-color: red;
    border:0;
    padding: 2vmin;
    border-radius: 5px;
    font-weight: bold;
    color: var(--lova-purple);
    position: relative;
    font-size: 200%;
    margin-top: 15vmin;
    box-shadow: 5px 5px 5px 5px #0000001c;
}

.downloadimg{
    padding-top:5%;
    width:50%;
    margin:auto;
}

.downloadimg img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width:100%;
}
