html{
    background-size: cover;
    font-family: 'Roboto Mono', monospace !important;
    background-color: rgb(34, 37, 41);
    color: white;
}

#nav{
    font-size: 20px;
    z-index:1;
}

#nav li{
    z-index:1;
}

#home{
    z-index:1;
    position: absolute;
    left: 25%;
    width: 50%;
    margin-top: 10%;
}

#home .hometext{
    padding-top: 0.5em;
    width: 50%;
    float: left;
    font-size: 25px;
}

#home .hometext p{
    margin-top: -1em;
    font-size: 20px;
}

#home .name{
    color:tomato;
}

#home img{
    width: 450px;
    height: 450px;
    float: right;
    position: relative;
}

#home button{
    width: 150px;
    height: 50px;
    float: left;
    color: tomato;
    font-size: 15px;
    background-color: transparent;
    border: solid tomato 2px;
}

#home button:hover{
    color: rgb(139, 54, 39);
    border: solid rgb(139, 54, 39) 2px;
    cursor: pointer;
}

/*smoothtrans*/

.smoothtrans{
    animation: smoothtrans 1s; 
}

@keyframes smoothtrans {
    0%{        
        transform: translateX(-200%);
    }
    100%  {
        transform: translateX(0%);
    }
}

.smoothtransdis{
    animation: smoothtransdis 1s; 
    transform: translateX(-200%);
    display: none;
}

@keyframes smoothtransdis {
    0%{        
        transform: translateX(0%);        
        display: none !important; 

    }
    100%{
        transform: translateX(-200%);        
        display: none !important; 

    }
}
/*Contact*/

#contactme{
    position: absolute;
    left: 30%;
    width: 40%;
    margin-top: 10%;
}

#contactme .userName, #contactme .usermail{
    outline:none;
    height: 40px;
    width: 100%;
    border: solid tomato 2px;
    background-color: transparent;
    color: white;
    text-align: left;
    margin-bottom: 0.5em;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 10px;
}
 

#contactme .userMessage{
    outline:none;
    height: 300px;
    width: 100%;
    border: solid tomato 2px;
    background-color: transparent;
    color: white;
    text-align: left;
    margin-bottom: 0.5em;
    padding-top: 10px;
    padding-left: 10px;
}

#contactme button{
    width: 100%;
    height: 50px;
    color: white;
    font-size: 15px;
    background-color: tomato;
    border: solid tomato 2px;
    cursor: pointer;
}

#contactme button:active  {
    background-color: rgb(170, 68, 49);
    border: solid rgb(170, 68, 49);
}

/*education*/

#education{
    position: absolute;
    left: 30%;
    width: 40%;
    margin-top: 5%;
}

#education h1{
    font-size: 36px;
    font-weight: 500;
}

#education .school{
    border-left: 2px solid tomato;
    padding-left: 25px;
}

#education .school .title{
    color:tomato;
    text-transform: uppercase;
}

#education .school .year{
    font-size: 16px;
}

#education .school .program{
    font-size: 20px;
}

/*About me*/

#aboutme{
    position: absolute;
    left: 25%;
    width: 50%;
    margin-top: 10%;
}

#aboutme embed{
    float:left;
    width: 48%;
}

#aboutme .aboutmyselft{
    margin-top: 4px;
    float:right;
    width: 50%;
}

#aboutme .tools{
    margin-top: 3em;
    float:right;
    width: 50%;
}

/*Skills*/

#skills{
    position: absolute;
    left: 25%;
    width: 50%;
    margin-top: 10%;
    font-size: 20px;
    font-weight: 100;
}

#skills h1{
    font-size: 36px;
    font-weight: 500;
}

.skillgroups{
    display: flex;
    font-size: 14px;
}

.skillgroups .skillingleft, .skillgroups .skillingright{
    width: 50%;
}

#skills .skillingright{
    float: right;
    margin-top: 10px;
}

#skills .skillingleft{
    float: left;
    margin-top: 10px;
}

#skills .level{
    width: 80%;
    height: 5px;
    background-color: rgb(58, 58, 58);
}

#skills .level .ranklevel{
    width: 80%;
    height: 5px;
    background-color: tomato;
}


#skills .rank p .value{
    width: 27%;
    float: right;
}

/*MY WORK*/

#work{
    position: absolute;
    left: 10%;
    width: 70%;
    margin-top: 10em;
    overflow: scroll;
    height: 680px;
    padding-left: 5em;
    padding-right: 5em;
    overflow-x: hidden;
}

#work::-webkit-scrollbar-track
{
	background-color: rgb(23, 25, 27);
}

#work::-webkit-scrollbar
{
	width: 6px;
	background-color: rgb(23, 25, 27);
}

#work::-webkit-scrollbar-thumb
{
	background-color: tomato;
}

#work .game{
    width: 100%;
    margin-bottom: 3em;
    padding-right: 3em;
    background-color: rgb(27, 29, 32);
    height: 400px;
}

#work .game img{
    float:left;
    width:250px;
    height:250px;
}

#work .game h1, 
#work .game p, 
#work .game .role, 
#work .game .rolename,
#work .game a
{
    float: right;
    width:70%;
}

#work .game h1{
    color:tomato;
    font-size: 30px;
}

#work .game .role, 
#work .game .rolename,
#work .game a{
    text-align: right;
}

#work .game .role{
    font-size: 20px;
    text-align: left;
    line-height: 0;
}

#work .game .rolename{
    font-size: 20px;
    text-align: left;
    line-height: 0;
}

#work .game a{
    color:white;
}

@media only screen and (max-width: 1200px) {

/*nav*/

.mobile-container {
    max-width: 480px;
    margin: auto;
    height: 500px;
    color: white;
    border-radius: 30px;
  }
  
  .topnav {
    overflow: hidden;
    position: relative;

  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: rgb(255, 255, 255);
    padding: 50px 50px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
  }
  
  .topnav a.icon {
    font-size: 50px;
    overflow: visible;

    color:white;
    display: block;
    position: absolute;

    right: 0;
    top: 0;
  }

  .topnav a{
      font-size: 40px;
  }

  

/*home*/

    #home{
        position: absolute;
        left: 10%;
        width: 90%;
        margin-top: 25%;
    }

    #home img{
        display: none;        
    }

    #home .hometext{
        width: 100%;
        font-size: 40px;
    }

    #home .hometext button{
        position: absolute;
        margin-top: 10%;
        left: 25%;
        width: 300px;
        height: 100px;
        font-size: 20px;
    }

/*education*/

    #education{
        position: absolute;
        left: 10%;
        width: 80%;
        margin-top: 10%;
        font-size: 25px;

    }

    #education .school {
        font-size: 25px;
    }

/*aboutme*/
    #aboutme{
        width: 90%;
        left: 5%;
    }

    #aboutme h1{
        font-size: 55px;
    }

    #aboutme .aboutmyselft{
        float:left;
        width: 100%;
        font-size: 15px;
    }

    #aboutme .tools{
        font-size: 15px;

        float:left;
        width: 100%;
    }

    #aboutme embed{
        display: none;
    }
    
/*skills*/

    #skills{
        position: absolute;
        left: 10%;
        width: 90%;
        margin-top: 10%;
        font-size: 50px;
        font-weight: 100;
    }

    #skills h1{
        font-size: 36px;
        font-weight: 500;
    }

    .skillgroups{
        display: flex;
        font-size: 14px;
    }

    .skillgroups .skillingleft, .skillgroups .skillingright{
        width: 50%;
    }

    #skills .skillingright{
        font-family: 'Roboto Mono', monospace !important;
        font-size: 20px;
        float: right;
        margin-top: 10px;
    }

    #skills .skillingleft{
        font-family: 'Roboto Mono', monospace !important;
        font-size: 20px;
        float: left;
        margin-top: 10px;
    }

/*work*/

    #work{
        font-size: 12px;
        position: absolute;
        width: 90%;
        left: 2%;
        padding-left: 0;
        padding-right: 5em;
        height: 80%;
    }

    #work .game p {
        overflow: hidden;
        font-size: 20px;
    }

    #work .game a{
        font-size: 25px;
    }

/*contact me*/

    #contactme{
        width: 95%;
        left: 5;
    }

    #contactme .username{
        width: 100%;
        height: 50px;
    }

    #contactme #usermail{
        width: 100%;
        height: 50px;
    }

    #contactme #usermessage{
        width: 100%;
        height: 400px;
    }

}

